<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/style.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/d/d5/Hey_Machine_Learning_Logo.png"/>


    <title>Text to Speech Generator</title>
</head>
<body>
    <header class='center'>
        <h1>
            Text-to-Speech Generator
        </h1>
    </header>

    <div class='center select-box'>

        <form action="/generated" method='POST' id='entry'>
            <label for="language" class='language'>Choose a language:</label>
            <select name="language" id="language" placeholder='Language'>
              <option value="en-us">English</option>
              <option value="zh-cn">Chinese</option>
              <option value="hi-in">Hindi</option>
              <option value="es-mx">Spanish</option>
              <option value="fr-fr">French</option>
              <option value="de-de">German</option>
            </select>
            <br><br>

            <textarea class='border border-primary' rows="10" cols="70" name="sourcetts" id='sourectts' placeholder="Enter text here..."></textarea>
            
            <br><br>
            <input type="submit" class='btn btn-primary' value="Create TTS">
          </form>

    </div>

    <footer id='footer'>
        <p>Made by: Nicholas Zhang <br><a href="https://github.com/nickzswammer/Text-to-Speech-Web-App/tree/main" target="_blank">Github</a></p>
      </footer>

</body>
</html>